@import "tailwindcss";

@theme {

   --breakpoint-3xl: 120rem;
  /* Core Colors */
  --color-primary-color:oklch(58% 0.22 264);
  --color-secondary-color: oklch(64% 0.14 178);
  --color-primary-hover:oklch(54% 0.22 264);
   --color-light-gray: #F9FAFB;
   --color-surface:#FFFFFF;

  /* Text Colors */
   --color-primary-text: #111827;
   --color-secondry-text:#6B7280;
   --color-muted-text:#9CA3AF;
   /* Status Colors */

   --color-success:#16A34A;
   --color-warning:#F59E0B;
   --color-error:#DC2626;
   --color-info:#0EA5E9;


    /* Typography */
   --font-popins:Poppins, sans-serif;
   --font-inter: Inter,sans-serif;
   --font-page-title:28px;
   --font-section-title:20px;
   --font-body-text:18px;
   --font-labels:14px;


}